.metodologia {
  background-color: gray; }

.testimonios {
  background-color: grey; }

.cursos {
  background-color: white; }

.card {
  border-radius: 5%; }

.card-img-top {
  height: 40vh;
  width: 100%;
  object-fit: cover; }

.owl-prev {
  left: -30px; }

.owl-next {
  right: -30px; }

.owl-prev, .owl-next {
  position: absolute;
  top: 90px; }

.owl-prev span, .owl-next span {
  font-size: 80px;
  color: black; }

.owl-theme, .owl-nav[class*="owl-"]:hover {
  background: transparent !important; }

/* GLOBO COMENTARIO */
.comentarios {
  width: 250px; }

.comentarios .comentario {
  width: 100%; }

.comentarios .comentario p {
  margin: 0 0 10px 0; }

.burbuja {
  position: relative;
  background-color: white;
  padding: 20px;
  color: black;
  border-radius: 5px;
  margin-bottom: 25px; }

.burbuja::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -15px;
  margin-left: 95px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 15px solid white; }
