@charset "UTF-8";
@media only screen and (min-width: 855px) {
  .header--nav {
    color: #000035;
    font-family: "Lato", sans-serif;
    font-size: 20px;
    display: block;
    padding: 0.5rem 10px; }
    .header--nav:hover {
      color: #000035;
      font-weight: bold;
      text-decoration: none; }
  .header--training {
    color: #FE4A00;
    font-family: "Lato", sans-serif;
    font-size: 20px;
    display: block;
    padding: 0.5rem 10px; }
    .header--training:hover {
      color: #FE4A00;
      font-weight: bold;
      text-decoration: none; }
  .hero__group--text h5 {
    font-family: "Lato", sans-serif;
    font-size: 60px; }
  .hero__group--text p {
    font-family: "Open Sans Condensed", sans-serif;
    font-size: 40px;
    text-align: start; }
  .encabezado--title {
    font-family: "Lato", sans-serif;
    font-size: 50px;
    text-align: center;
    color: #000035; }
  .encabezado--subtitle {
    font-family: "Open Sans Condensed", sans-serif;
    font-size: 25px;
    margin-top: 40px;
    width: 730px;
    text-align: center;
    color: #000035; }
  .encabezado--methodology {
    font-family: "Lato", sans-serif;
    font-size: 50px;
    color: #000035; }
  .bubble--text h5 {
    font-size: 30px; }
  .bubble--text p {
    font-size: 18px; }
  .testimony--text .card-title {
    font-size: 18px; }
  .testimony--text .card-text {
    font-size: 14px;
    text-align: center; }
  .btn--text {
    font-family: "Lato", sans-serif;
    font-size: 22px; }
  .form__group--text h3 {
    font-family: "Lato", sans-serif;
    font-size: 38px;
    color: #FE4A00;
    text-align: center; }
  .form__group--text p {
    font-family: "Open Sans Condensed", sans-serif;
    font-size: 20px;
    width: 490px;
    margin-top: 30px;
    color: #000035;
    text-align: center; }
  .foo--text {
    font-family: "Lato", sans-serif;
    font-size: 22px;
    color: #000035; }
  .copy--text {
    font-size: 14px;
    text-align: center;
    color: white; } }

.card {
  border-radius: 10px; }

.card-img-top {
  height: 30vh;
  object-fit: cover; }

.owl-prev {
  left: -20px; }

.owl-next {
  right: -50px; }

.owl-prev, .owl-next {
  position: absolute;
  top: 200px; }

.owl-prev span, .owl-next span {
  font-size: 80px;
  color: gainsboro; }

.owl-theme, .owl-nav[class*="owl-"]:hover {
  background: transparent !important; }

.owl-theme .owl-dots .owl-dot.active span {
  background: #869791;
  opacity: 0; }

@media only screen and (min-width: 855px) {
  .hero__group {
    height: 700px; }
    .hero__group div {
      margin: 20px 0px 20px 210px;
      width: 640px; }
  .comments {
    width: 280px; }
    .comments .comment {
      width: 100%; }
      .comments .comment p {
        margin: 0 0 10px 0; }
  .bubble {
    position: relative;
    background-color: white;
    padding: 20px;
    color: black;
    border-radius: 5px;
    margin-bottom: 25px; }
    .bubble::after {
      content: "";
      display: block;
      position: absolute;
      bottom: -15px;
      margin-left: 110px;
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 15px solid white; }
  .icon__permanent--wa {
    position: fixed;
    right: 20px;
    bottom: 65px;
    border: none;
    z-index: 10; }
  .icon--networking {
    font-size: 80px;
    color: white; }
  .benefits__bg--img {
    background-image: url("../assets/img/bg_benefits_sum_elearning.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain; }
  .benefits__bg--color {
    background-color: #FFFFFF;
    border-radius: 0px 0px 100px 100px;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 5; }
  .benefits__bg--bottom {
    background: #F7FAFC;
    height: 100%;
    z-index: -1; }
  .methodology__bg--color {
    background-color: #F7FAFC;
    border-radius: 0px 0px 100px 100px;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 4; }
  .methodology__bg--bottom {
    background: #FFF1E4;
    height: 100%;
    z-index: -1; }
  .testimony__bg--color {
    background-color: #FFF1E4;
    border-radius: 0px 0px 100px 100px;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 3; }
  .testimony--bottom {
    background: gainsboro;
    height: 100%;
    z-index: -1; }
  .courses__bg--color {
    background-color: gainsboro; }
  .form__bg--img {
    background-image: url("../assets/img/bg_form_sum_elearning.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top: 2px solid #FE4A00;
    border-bottom: 2px solid #FE4A00; }
  .form__bg--group {
    min-width: 705px;
    min-height: 565px;
    padding: 30px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 8px; }
  .carousel__btn--courses {
    background-color: #F8F8F8;
    border: none;
    width: 220px;
    height: 60px;
    color: #000035; }
  .carousel__btn--inscription {
    background-color: #000035;
    border: none;
    width: 220px;
    height: 60px;
    color: #F8F8F8; }
  .methodology--btn {
    background-color: #000035;
    border: none;
    width: 255px;
    height: 60px;
    color: #F8F8F8;
    margin-top: 40px; }
  .form__btn--submit {
    background-color: #FF792E;
    border: none;
    width: 120px;
    height: 38px;
    padding: 8px 12px;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    color: #000035; } }

@media only screen and (min-width: 855px) {
  .header--group a img {
    display: flex;
    align-items: center;
    width: 220px;
    height: 48px; }
  .header--group nav {
    display: flex;
    align-items: center; }
  .benefits--group {
    margin-top: 80px;
    display: flex;
    justify-content: center; }
    .benefits--group article {
      border: none;
      margin: 10px 30px;
      display: flex;
      flex-direction: column;
      align-items: center; }
      .benefits--group article img {
        width: 160px;
        height: 160px; }
      .benefits--group article p {
        margin-top: 15px;
        font-family: "Lato", sans-serif;
        font-size: 30px;
        color: #FE4A00; }
      .benefits--group article span {
        min-width: 340px;
        font-family: "Open Sans Condensed", sans-serif;
        font-size: 18px; }
  .methodology {
    margin-top: 40px; }
    .methodology .methodology--group {
      margin-top: 20px;
      margin-left: 30px;
      width: 450px; }
      .methodology .methodology--group h3 {
        display: list-item;
        list-style: '✓ ';
        font-family: "Lato", sans-serif;
        font-size: 35px;
        color: #FE4A00; }
      .methodology .methodology--group p {
        font-family: "Open Sans Condensed", sans-serif;
        font-size: 25px; }
  .testimony {
    display: flex;
    justify-content: center;
    margin-top: 60px; }
    .testimony .testimony--group {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 18rem;
      margin: 0px 10px;
      padding-top: 20px;
      border: none; }
    .testimony img {
      width: 80px;
      height: 80px; }
  .form--group {
    margin-top: 10px;
    min-width: 560px;
    min-height: 360px;
    padding: 0px 10px; }
    .form--group label {
      font-family: "Lato", sans-serif;
      font-size: 15px;
      color: #000035;
      margin-bottom: 0px;
      margin-left: 15px; }
    .form--group input, .form--group textarea {
      display: block;
      width: 100%;
      padding: 5px 0px 5px 20px;
      font-family: "Open Sans Condensed", sans-serif;
      font-size: 15px;
      color: #C0C0C0;
      background-color: #ffffff;
      border: 1px solid #000035;
      border-radius: 6px;
      margin-bottom: 10px; }
  .foo--group a {
    display: flex;
    align-items: center; }
    .foo--group a img {
      width: 334px;
      height: 70px; }
  .foo--group ul {
    display: flex;
    align-items: center; }
    .foo--group ul img {
      width: 40px;
      height: 40px; } }

* {
  margin: 0;
  padding: 0; }

.contenedor--fluid {
  width: 100%;
  overflow-x: hidden; }

@media only screen and (min-width: 855px) {
  .padding-x {
    padding-right: 100px;
    padding-left: 100px; }
  .padding-y {
    padding-top: 60px;
    padding-bottom: 60px; }
  #header {
    min-height: 100px;
    display: flex;
    justify-content: space-around;
    background-color: white; }
  #carrusel--encabezado {
    margin-top: 100px; }
  #benefits {
    min-height: 960px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  #methodology {
    min-height: 940px;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  #testimony {
    min-height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  #courses {
    min-height: 1090px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  #form {
    min-height: 665px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  #footer {
    min-height: 160px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  #copy {
    min-height: 60px;
    background-color: #000018;
    display: flex;
    justify-content: center;
    align-items: center; } }
