// CARRUSEL COURSES
.cursos {
    background-color: white;
}
// .card{
//     border-radius: 5%;
// }
.card-img-top{
    height: 40vh;
    width: 100%;
    object-fit: cover;
}
.owl-prev{
    left: -20px;
}
.owl-next{
    right: -50px;
}
.owl-prev, .owl-next {
    position: absolute;
    top: 200px;
}
.owl-prev span, .owl-next span {
    font-size: 80px;
    color: gainsboro;
}
.owl-theme , .owl-nav[class*="owl-"]:hover{
    background: transparent !important ;
}
.owl-theme .owl-dots .owl-dot.active span {
    background: #869791;
    opacity: 0;
}



// Vista desktop
@media only screen and (min-width:855px) {
    // Hero
    .hero__group {
        height: 700px;
        div {
            margin: 20px 0px 20px 210px;
            width: 640px;
        }
    }

    // GLOBO COMMENT
    .comments {
        width: 280px;
        .comment {
            width: 100%;
            p {
                margin: 0 0 10px 0;
            }
        }
    }
    .bubble {
        position: relative;
        background-color: white;
        padding: 20px;
        color: black;
        border-radius: 5px;
        margin-bottom: 25px;
        &::after {
            content: "";
            display: block;
            position: absolute;
        
            bottom: -15px;
            margin-left: 110px;
        
            width: 0;
            height: 0;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
        
            border-top: 15px solid white;
        }
    }


    // ICON
    .icon__permanent--wa {
        position: fixed;
        right: 20px;
        bottom: 65px;
        border: none;
        z-index: 10;
    }

    .icon--networking {
        font-size: 80px;
        color: white;
    }

    // FUND
    .benefits__fund--colors {
        background-image: url("../assets/img/beneficios_sum_elearning.png");
        background-position: top;
        background-repeat: no-repeat;
    }

    .methodology__fund--img {
        background-image: url("../assets/img/metodologia_sum_elearnig.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .testimony__fund--colors {
        background: linear-gradient(180deg, #FFB62A 0%, rgba(255, 200, 177, 0) 100%);
        opacity: 0.8;
    }

    .form__fund--img {
        background-image: url("../assets/img/form_sum_elearning.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-top: 2px solid $primaryOrange;
        border-bottom: 2px solid $primaryOrange;
    }

    .form__background {
        min-width: 705px;
        min-height: 565px;
        padding: 20px;
        background-color: rgba($color: #ffffff, $alpha: 0.7);
        border-radius: 8px;
    }

    // BTN
    .carousel__btn--courses {
        background-color: #F8F8F8;
        border: none;
        width: 220px;
        height: 60px;
        color: $primaryBlue;
    }

    .carousel__btn--inscription {
        background-color: $primaryBlue;
        border: none;
        width: 220px;
        height: 60px;
        color: #F8F8F8;
    }

    .methodology--btn {
        background-color: $primaryBlue;
        border: none;
        width: 255px;
        height: 60px;
        color: #F8F8F8;
        margin-top: 40px;
    }

    .form__btn--submit {
        background-color: $secondaryOrange;
        border: none;
        width: 120px;
        height: 38px;
        padding: 8px 12px;
        font-family: $lato;
        font-size: 14px;
        color: $primaryBlue;
    }
}



// Vista mobile
// @media only screen and (min-width:0px) and (max-width:854px) {

// }