// CARRUSEL COURSES
.owl-prev, .owl-next {
    position: absolute;
    top: 200px;
}
.owl-prev span, .owl-next span {
    font-size: 80px;
    color: gainsboro;
}
.owl-theme , .owl-nav[class*="owl-"]:hover{
    background: transparent !important ;
}
.owl-theme .owl-dots .owl-dot.active span {
    background: #869791;
    opacity: 0;
}



// Vista desktop
@media only screen and (min-width:1150px) {
    .owl-prev{
        left: -20px;
    }
    .owl-next{
        right: -35px;
    }
    // Hero
    .hero__group {
        height: 700px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        div {
            margin: 20px 0px 20px 210px;
            width: 640px;
        }
    }
    .img--scale {
        transition: all 2.0s ease-in;
        &:hover {
            -webkit-transform: scale(1.1);
            transform: scale(1.1) .10s;
        }
    }
    .carousel-item {
        img {
            border-top: 2px solid $primaryOrange;
            border-bottom: 2px solid $primaryOrange;
        }
    }

    // GLOBO COMMENT
    .comments {
        width: 350px;
        height: 190px;
        .comment {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            p {
                margin: 0 0 10px 0;
            }
        }
    }
    .bubble {
        position: relative;
        background-color: white;
        color: $primaryOrange;
        padding: 20px;
        border-radius: 5px;
        &::after {
            content: "";
            display: block;
            position: absolute;
        
            bottom: -15px;
        
            width: 0;
            height: 0;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
        
            border-top: 15px solid white;
        }
    }

    .bubble:hover {
        background-color: #E77535;
        color: white;
        &::after {
            border-top: 15px solid #E77535;
        }
    }

    // ICON
    .icon__permanent--wa {
        position: fixed;
        right: 20px;
        bottom: 65px;
        border: none;
        z-index: 100;
    }
    .img--networking {
        width: 85px;
        height: 85px;
    }

    // BTN
    .carousel__btn--courses {
        background-color: $textWhite;
        border: none;
        width: 220px;
        height: 60px;
        color: $primaryBlue;
        &:hover {
            background-color: #D4D4E4;
        }
    }

    .carousel__btn--inscription {
        background-color: $primaryBlue;
        border: none;
        width: 220px;
        height: 60px;
        color: $textWhite;
        &:hover {
            background-color: $secondaryBlue;
        }
    }

    .methodology--btn {
        background-color: $primaryBlue;
        border: none;
        width: 255px;
        height: 60px;
        color: $textWhite;
        margin-top: 40px;
        &:hover {
            background-color: $secondaryBlue;
        }
    }

    .courses--btn {
        background-color: $primaryBlue;
        border: none;
        border-radius: 15px;
        padding: 14px;
        font-size: 18px;
        color: $textWhite;
        text-align: center;
        line-height: 22px;
        letter-spacing: 0.03em;
        &:hover {
            background-color: $secondaryBlue;
        }
    }

    .form__btn--submit {
        background-color: $secondaryOrange;
        border: none;
        width: 120px;
        height: 38px;
        padding: 8px 12px;
        font-family: $lato;
        font-size: 14px;
        letter-spacing: 0.03em;
        color: $primaryBlue;
        &:hover {
            background-color: $primaryBlue;
            color: $textWhite;
        }
    }
}



// Vista mobile
@media only screen and (min-width:0px) and (max-width:1149px) {
    .owl-prev{
        left: -20px;
    }
    .owl-next{
        right: -20px;
    }
    // Hero
    .hero__group {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .img--scale {
        transition: all 2.0s ease-in;
        &:hover {
            -webkit-transform: scale(1.1);
            transform: scale(1.1) .10s;
        }
    }
    .carousel-item {
        img {
            border-top: 2px solid $primaryOrange;
            border-bottom: 2px solid $primaryOrange;
        }
    }

    // GLOBO COMMENT
    .comments {
        width: 250px;
        .comment {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            p {
                margin: 0 0 10px 0;
            }
        }
    }
    .bubble {
        position: relative;
        background-color: white;
        color: $primaryOrange;
        padding: 10px;
        border-radius: 5px;
        margin-bottom: 25px;
        &::after {
            content: "";
            display: block;
            position: absolute;
        
            bottom: -15px;
            // margin-left: 95px;
        
            width: 0;
            height: 0;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
        
            border-top: 15px solid white;
        }
    }
    .bubble:hover {
        background-color: #E77535;
        color: white;
        &::after {
            border-top: 15px solid #E77535;
        }
    }

    // ICON
    .icon__permanent--wa {
        position: fixed;
        right: 10px;
        bottom: 50px;
        border: none;
        z-index: 100;
        img {
            width: 70px;
            height: 70px;
        }
    }

    .img--networking {
        width: 60px;
        height: 60px;
    }

    // BTN
    .methodology--btn {
        background-color: $primaryBlue;
        border: none;
        padding: 8px 12px;
        color: $textWhite;
        margin-top: 20px;
        &:hover {
            background-color: $secondaryBlue;
        }
    }

    .courses--btn {
        background-color: $primaryBlue;
        border: none;
        border-radius: 15px;
        padding: 10px;
        font-size: 16px;
        color: $textWhite;
        text-align: center;
        line-height: 22px;
        letter-spacing: 0.03em;
        &:hover {
            background-color: $secondaryBlue;
        }
    }

    .form__btn--submit {
        background-color: $secondaryOrange;
        border: none;
        padding: 8px 12px;
        font-family: $lato;
        font-size: 14px;
        letter-spacing: 0.03em;
        color: $primaryBlue;
        &:hover {
            background-color: $primaryBlue;
            color: $textWhite;
        }
    }
}


// Hero
@media only screen and (min-width:920px) and (max-width:1149px) {
    // Hero
    .hero__group {
        height: 600px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        div {
            margin: 20px 0px 20px 150px;
            width: 640px;
        }
    }
    // Carousel
    .hero__group--text {
        h5 {
            font-family: $lato;
            font-size: 35px;
            text-align: initial;
            color: $textWhite;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
        p {
            font-family: $openSans;
            font-size: 25px;
            text-align: initial;
            color: $textWhite;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
    }
    // BTN
    .carousel__btn--courses {
        background-color: $textWhite;
        border: none;
        padding: 5px 10px;
        color: $primaryBlue;
        &:hover {
            background-color: #D4D4E4;
        }
    }

    .carousel__btn--inscription {
        background-color: $primaryBlue;
        border: none;
        padding: 5px 10px;
        color: $textWhite;
        &:hover {
            background-color: $secondaryBlue;
        }
    }
}
@media only screen and (min-width:865px) and (max-width:919px) {
    // Hero
    .hero__group {
        height: 350px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        div {
            margin: 20px 0px 20px 100px;
            // width: ;
        }
    }
    // Carousel
    .hero__group--text {
        h5 {
            font-family: $lato;
            font-size: 35px;
            text-align: initial;
            color: $textWhite;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
        p {
            font-family: $openSans;
            font-size: 25px;
            text-align: initial;
            color: $textWhite;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
    }
    // BTN
    .carousel__btn--courses {
        background-color: $textWhite;
        border: none;
        padding: 5px 10px;
        color: $primaryBlue;
        &:hover {
            background-color: #D4D4E4;
        }
    }

    .carousel__btn--inscription {
        background-color: $primaryBlue;
        border: none;
        padding: 5px 10px;
        color: $textWhite;
        &:hover {
            background-color: $secondaryBlue;
        }
    }
}
@media only screen and (min-width:760px) and (max-width:864px) {
    // Hero
    .hero__group {
        height: 350px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        div {
            margin: 20px 0px 20px 100px;
            // width: ;
        }
    }
    // Carousel
    .hero__group--text {
        h5 {
            font-family: $lato;
            font-size: 40px;
            text-align: initial;
            color: $textWhite;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
        p {
            font-family: $openSans;
            font-size: 35px;
            text-align: initial;
            color: $textWhite;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
    }
    // BTN
    .carousel__btn--courses {
        background-color: $textWhite;
        border: none;
        padding: 5px 10px;
        color: $primaryBlue;
        &:hover {
            background-color: #D4D4E4;
        }
    }

    .carousel__btn--inscription {
        background-color: $primaryBlue;
        border: none;
        padding: 5px 10px;
        color: $textWhite;
        &:hover {
            background-color: $secondaryBlue;
        }
    }
}
@media only screen and (min-width:690px) and (max-width:759px) {
    // Hero
    .hero__group {
        height: 250px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        div {
            margin: 20px 0px 20px 100px;
            // width: ;
        }
    }
    // Carousel
    .hero__group--text {
        h5 {
            font-family: $lato;
            font-size: 35px;
            text-align: initial;
            color: $textWhite;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
        p {
            font-family: $openSans;
            font-size: 28px;
            text-align: initial;
            color: $textWhite;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
    }
}
@media only screen and (min-width:600px) and (max-width:689px) {
    // Hero
    .hero__group {
        max-height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        div {
            margin: 20px 0px 20px 100px;
        }
    }
    // Carousel
    .hero__group--text {
        h5 {
            font-family: $lato;
            font-size: 30px;
            text-align: initial;
            color: $textWhite;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
        p {
            font-family: $openSans;
            font-size: 25px;
            text-align: initial;
            color: $textWhite;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
    }
    // BTN
    .carousel__btn--courses {
        background-color: $textWhite;
        border: none;
        padding: 5px 10px;
        color: $primaryBlue;
        &:hover {
            background-color: #D4D4E4;
        }
    }

    .carousel__btn--inscription {
        background-color: $primaryBlue;
        border: none;
        padding: 5px 10px;
        color: $textWhite;
        &:hover {
            background-color: $secondaryBlue;
        }
    }
}
@media only screen and (min-width:510px) and (max-width:599px) {
    // Hero
    .hero__group {
        max-height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        div {
            margin: 10px 0px 10px 50px;
        }
    }
    // Carousel
    .hero__group--text {
        h5 {
            font-family: $lato;
            font-size: 25px;
            text-align: initial;
            color: $textWhite;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
        p {
            font-family: $openSans;
            font-size: 18px;
            text-align: initial;
            color: $textWhite;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
    }
    // BTN
    .carousel__btn--courses {
        background-color: $textWhite;
        border: none;
        padding: 3px 6px;
        color: $primaryBlue;
        font-size: 12px;
        &:hover {
            background-color: #D4D4E4;
        }
    }

    .carousel__btn--inscription {
        background-color: $primaryBlue;
        border: none;
        padding: 3px 6px;
        color: $textWhite;
        font-size: 12px;
        &:hover {
            background-color: $secondaryBlue;
        }
    }
}
@media only screen and (min-width:0px) and (max-width:509px) {
    // Hero
    .hero__group {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        div {
            margin: 5px 0px;
        }
    }
    // Carousel
    .hero__group--text {
        h5 {
            font-family: $lato;
            font-size: 18px;
            text-align: initial;
            color: $textWhite;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
        p {
            font-family: $openSans;
            font-size: 16px;
            text-align: initial;
            color: $textWhite;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
    }
    // BTN
    .carousel__btn--courses {
        background-color: $textWhite;
        border: none;
        padding: 0px 3px;
        color: $primaryBlue;
        font-size: 11px;
        &:hover {
            background-color: #D4D4E4;
        }
    }

    .carousel__btn--inscription {
        background-color: $primaryBlue;
        border: none;
        padding: 0px 3px;
        color: $textWhite;
        font-size: 11px;
        &:hover {
            background-color: $secondaryBlue;
        }
    }
}


// NavBar
@media only screen and (min-width:600px) and (max-width:991px) {
    .navbar-nav {
        position: relative;
        top: 80px;
        text-align: center;
        margin-bottom: 100px;
    }
    
    .navbar-brand {
        position: fixed;
        top: 20px;
        left: 40px;
    }
    
    .navbar-toggler {
        position: fixed;
        top: 30px;
        right: 40px;
    }
} 
// NavBar
@media only screen and (min-width:0px) and (max-width:599px) {
    .navbar-nav {
        position: relative;
        top: 80px;
        text-align: center;
        margin-bottom: 100px;
    }
    
    .navbar-brand {
        position: fixed;
        top: 26px;
        left: 20px;
    }
    
    .navbar-toggler {
        position: fixed;
        top: 30px;
        right: 20px;
    }
} 

.nav li a:link, .nav li a:visited {
    text-decoration:none;
    margin-left:8px; 
    margin-right:5px;
} 

.nav li a:hover{
    text-decoration:none;
    font-weight:bold;
}

.carousel-control-prev, .carousel-control-next {
    width: 10% !important;
}

.container--fluid {
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: auto;
    margin-right: auto;
}
