// Vista desktop
@media only screen and (min-width:855px) {
    // Header
    .header--group {
        a img {
            display: flex;
            align-items: center;
            width: 220px;
            height: 48px;
        }
        nav {
            display: flex;
            align-items: center;
        }
    }

    // Benefits
    .benefits--group {
        margin-top: 80px;
        display: flex;
        justify-content: center;
        article {
            border: none;
            margin: 10px 30px;
            display: flex;
            flex-direction: column;
            align-items: center;
            img {
                width: 160px;
                height: 160px;
            }
            p {
                margin-top: 15px;
                font-family: $lato;
                font-size: 30px;
                color: $primaryOrange;
            }
            span {
                min-width: 340px;
                font-family: $openSans;
                font-size: 18px;
            }
        }
    }

    // Methodology
    .methodology {
        margin-top: 40px;
        .methodology--group {
            margin-top: 20px;
            margin-left: 40px;
            width: 450px;
            h3 {
                display: list-item;
                list-style: '✓ ';
                font-family: $lato;
                font-size: 35px;
                color: $primaryOrange;
            }
            p {
                font-family: $openSans;
                font-size: 25px;
            }
        }
    }

    // Testimony
    .testimony {
        display: flex;
        justify-content: center;
        margin-top: 60px;
        .testimony--group {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 18rem;
            margin: 0px 10px;
            padding-top: 20px;
            border: none;
        }
        img {
            width: 80px;
            height: 80px;
        }
    }

    // Form
    .form--group {
        margin-top: 10px;
        min-width: 560px;
        min-height: 360px;
        padding: 0px 10px;
        label {
            font-family: $lato;
            font-size: 15px;
            color: $primaryBlue;
            margin-bottom: 0px;
            margin-left: 15px;
        }
        input, textarea {
            display: block;
            width: 100%;
            padding: 5px 0px 5px 20px;
            font-family: $openSans;
            font-size: 15px;
            color: #C0C0C0;
            background-color: #ffffff;
            border: 1px solid $primaryBlue;
            border-radius: 6px;
            margin-bottom: 10px;
        }
    }

    // Footer
    .foo--group {
        a {
            display: flex;
            align-items: center;
            img {
                width: 334px;
                height: 70px;
            }
        }
        ul {
            list-style-type: none;
            margin-bottom: 0px;
            display: flex;
            align-items: center;
        }
        .foo--redes {
            
            img {
                width: 40px;
                height: 40px;
            }
        }
    }
}



// Vista mobile
@media only screen and (min-width:0px) and (max-width:854px) {
    // Header
    .header--group {
        a img {
            display: flex;
            align-items: center;
            width: 176px;
            height: 38px;
        }
        nav {
            display: flex;
            align-items: center;
        }
    }

    // Benefits
    .benefits--group {
        display: flex;
        flex-direction: column;
        justify-content: center;
        article {
            border: none;
            margin: 20px 0px;
            display: flex;
            flex-direction: column;
            align-items: center;
            img {
                width: 80px;
                height: 80px;
            }
            p {
                margin-top: 10px;
                font-family: $lato;
                font-size: 25px;
                color: $primaryOrange;
            }
            span {
                margin: 0px 20px;
                font-family: $openSans;
                font-size: 18px;
            }
        }
    }

    // Methodology
    .methodology {
        margin: 10px;
        .methodology--group {
            margin-top: 20px;
            h3 {
                display: list-item;
                list-style: '✓ ';
                font-family: $lato;
                font-size: 22px;
                color: $primaryOrange;
            }
            p {
                font-family: $openSans;
                font-size: 18px;
            }
        }
    }

    // Testimony
    .testimony {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 10px;
        .testimony--group {
            display: flex;
            flex-direction: column;
            align-items: center;
            // width: 18rem;
            margin: 0px 10px;
            padding-top: 20px;
            border: none;
        }
        img {
            width: 80px;
            height: 80px;
        }
    }

    // Form
    .form--group {
        margin-top: 10px;
        // min-width: 560px;
        // min-height: 360px;
        padding: 0px 10px;
        label {
            font-family: $lato;
            font-size: 15px;
            color: $primaryBlue;
            margin-bottom: 0px;
            margin-left: 15px;
        }
        input, textarea {
            display: block;
            width: 100%;
            padding: 5px 0px 5px 20px;
            font-family: $openSans;
            font-size: 15px;
            color: #C0C0C0;
            background-color: #ffffff;
            border: 1px solid $primaryBlue;
            border-radius: 6px;
            margin-bottom: 10px;
        }
    }

    // Footer
    .foo--group {
        .foo--logo {
            display: flex;
            align-items: center;
            img {
                width: 258px;
                height: 56px;
            }
        }
        ul {
            list-style-type: none;
        }
        .foo--contacto {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .foo--redes {
            display: flex;
            justify-content: center;
            img {
                width: 50px;
                height: 50px;
            }
        }
    }
}