// COLORS
$primaryBlue: #000035;
$primaryOrange: #FE4A00;
$secondaryYellow: #FFB62A;

// FONT
$lato: 'Lato', sans-serif;

// Variables
@mixin flex-colum-jc-ai-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

// Vista desktop
// @media only screen and (min-width:855px) {

// }

// Vista mobile
// @media only screen and (min-width:0px) and (max-width:854px) {

// }